.heading-container {
  width: 100%;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1rem);
  grid-gap: .5rem;
  justify-items: end;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  max-width: 1200px;
  
}

.flex-wrapper--vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  max-width: 1200px;
  
}
.red {
  color: red;
}

#current-date:hover {
  cursor: pointer;
}

.flex-item {
  margin: 1rem;
}
