:root {
  --today-background: #f7d0e8;
}

.heading-container {
  width: 100%;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1rem);
  grid-gap: .5rem;
  justify-items: end;
}

.calendar-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  max-width: 1200px;
}

.flex-wrapper--vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  max-width: 1200px;

}

.today {
  background-color: var(--today-background);
  font-weight: bold;
}

#current-date:hover {
  cursor: pointer;
}

.flex-item {
  margin: 1rem;
}

.hidden {
  display: none;
}