:root {
  --today-background: #f7d0e8;
  /* font-family: sans-serif; */
}

body {
  margin: 0;
}

.heading-container {
  width: 100%;
}

.calendar-container {
  width: 100%;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1rem);
  grid-gap: .5rem;
  justify-items: end;
}

.calendar-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.flex-wrapper--vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.flex-wrapper--vertical--fullYear {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.today {
  background-color: var(--today-background);
  font-weight: bold;
}

.month-header {
  font-weight: bold;
  text-align: center;
}

#current-date:hover {
  cursor: pointer;
}

.flex-item {
  margin: 1rem;
}

.hidden {
  display: none;
}